body {
    display: flex;
    flex-direction: column;
    background-color: #111;
    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
    justify-content: center;
}

p, h1, h2{
    color: #fff;
    margin: 0;
}
nav.header-nav {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
}

nav > a, .navpg-lnk {
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 1% 3%;
}

.navpg-lnk {
    flex-direction: row;
    gap: 2vw;
}

nav.header-nav > a:hover {
    font-weight: 700;
   
    background-color: crimson;
}
a {
    text-decoration: none;
    color: #fff;
}

a > img {
    height: 100%;
}

main {
    position: relative;
}

i.fa-arrow-left {
    position: absolute;
    left: 5vw;
    top: 10vh;
}

i.fa-arrow-right {
    
}

.comics-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-color: crimson;
}

.com-cont {
    width: 60vw;
    overflow: hidden;
}

.comics-header > h1 {
    position: relative;
    text-align: center;
    margin: 10vh 0 ;
    font-size: 34px;
}

.comics-slider {
    display: flex;
    position: relative;
    gap: 20px;
    width: 70vw;
    height: fit-content;
    animation: scrolling 10s infinite alternate;
}
.comics-slider:hover {
    animation-play-state: initial;
}




@keyframes scrolling {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-60vw);
    }
}

.comics-slider > img {
    height: 50vh;
}

nav.social-nav {
    justify-content: space-around;
    display: flex;
    width: 50vw;
}

@media screen and (max-width: 600px) {

    .header-nav {
        flex-direction: column;
        align-items: center;
    }

    .logo-link {
        align-self: center;
    }

    .navpg-lnk {
        display: none;
    }

    .logo-link:hover ~ .navpg-lnk {
        display: flex;
        flex-direction: column;
        height: fit-content;
        background-color: rgb(184, 11, 11);
    }
    
    .comics-slider > img {
        height: 30vh;
    }
}