.movies-container {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: fit-content;
    gap: 30px;
    align-items: center;
}

.movie-card {
    width: 75vw;
    height: fit-content;
}

.movie-card > h1 {
    height: fit-content;
    width: 90%;
}

.movie-card > img { 
    width: 60%;
}

.mc-info {
    height: 15vh;
    justify-content: space-evenly;
}

.mc-info > a {
    font-size: 18px;
}

.header-mobile-logo {
    background-image: url(../Resources/Images/marvel-m-logo.png);
}
